*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    min-height: 100vh;
    background-image:linear-gradient(rgba(220,220,220,0.7),rgba(220,220,220,0.6)), url("../img/background.jpg") ;
    background-size: cover;
    background-position: center;
}
.conts{
   text-rendering: optimizeLegibility;
   box-sizing: border-box;
   font-family: sans-serif;
   color: #1c1c1c;
   margin-top: 25px;
   display: flex;
   flex-direction: row;
}
.postcards{
    margin-top: 20px;
    display: inline-block;
   width: 200px;
   height: auto;
   margin-left: 25px;
   box-shadow: 1px 1px 30px 0px rgba(0,0,0,0.7);
   -webkit-box-shadow: 1px 1px 30px 0px rgba(0,0,0,0.7);
   -moz-box-shadow: 1px 1px 30px 0px rgba(0,0,0,0.7); 
}


h5{
    text-align: center;
    font-size: 20px;
}
p{
    font-size: x-small;
    text-align: center;
}
#button{
    margin-top: 0;
    margin-left: 50px;
}