

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    color: aliceblue;
}
#home{
    min-height: 100vh;
    background-image: linear-gradient(rgba(15,15,15,0.7),rgba(15,15,15,0.6)), url('../img/background.jpg');
    background-position: center;
    background-size: cover;
}
#logo{
    color: #ffa256;
    font-family: cursive;
    font-style: italic;
}
.navcon{
    background-color: transparent;
}
@media(max-width: 820px){
  .navcon{
    background-color: #1c1c1c;
  }
}
#tag{
    font-family: sans-serif;
    color:#fbac51;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
#qoutes{
    font-size: small;
}
